$dark-100: $dark;
$dark-300: #2c3032;
$dark-600: #242526;
$dark-900: #000000;

[data-theme="dark"] {
  body {
    background: linear-gradient(#004667 0%, #000 11%) no-repeat;
    background-color: $dark-900;
    color: $text-white;
  }
  
  body {
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #000;
  }

  .snowflake {
      position: absolute;
      height: 10px;
      width: 10px;
      background: linear-gradient(#ffffff 0%, #fff 11%) no-repeat;
      border-radius: 50%;
      pointer-events: none;
      z-index: -10;
      animation: snowfall linear infinite;
  }

  @keyframes snowfall {
      0% {
          transform: translateY(0);
      }
      100% {
          transform: translateY(100vh);
      }
  }
  
  // Code blocks & Syntax highlighting

  @import "native.scss";

  pre,
  code.highlighter-rouge {
    @extend .highlight;
    border: none;
  }

  .gist {
    filter: invert(90%) hue-rotate(180deg);
  }

  // Inputs
  input {
    background-color: $dark-300;
    border-color: $dark-100;
    color: $dark-900;

    &::placeholder {
      color: rgba($text-white, 0.64);
    }

    &:focus {
      background-color: $dark-600;
      color: $text-white;
    }
  }

  // Cards
  .card {
    background-color: $dark-600;
  }

  .card.border {
    .card-footer {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  // Tables
  table:not(.highlight) {
    td {
      border-color: $dark-600;
    }

    tr:nth-child(even) {
      background-color: $dark;
    }
  }

  // Lists
  .list-group-item-action {
    background-color: $dark-600;
    color: $text-white;

    &:hover,
    &:focus {
      background-color: darken($color: $dark-600, $amount: 3);
    }
  }

  // Post
  .post footer {
    text-decoration: none;
  }

  // Timeline 
  .timeline-body .timeline-item:after{
    background-color: $dark-900;
  }
}
