@charset "utf-8";

// Custom Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables",
        "404",
        "base",
        "blog",
        "footer",
        "landing",
        "navbar",
        "markdown",
        "projects",
        "timeline",
        "autumn",
        "theme",
        "theme-dark";

body {
    color: #ffffff;
}

.btn-outline-primary {
    color: #ffffff;
    border-color: #a70000;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #a70000;
    border-color: #a70000;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #a70000;
    border-color: #a70000;
}